
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alessia Shop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<app-header [titulo]="'Productos'"></app-header>
<body>
    <br>
    <br>
    <div class="contenido">
        <form class="d-flex">
            <input [(ngModel)]="busqueda" class="form-control me-2" type="search" placeholder="Buscar por nombre" aria-label="Search" name="busqueda">
            <div class="button" [routerLink]="['create']">

                <button><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                        class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                    </svg></button>

            </div>
        </form>
        <!-- <div class="d-flex">
            <div class="row">
                <h2 for="id" class="row col-form-label ">Seleccione una categoria:</h2>
                <ng-container >
                <select class="form-control" aria-label="Default select example" name="id" [(ngModel)]="selectedOption" >
                    <option value="all" selected>Todas</option>
                    <option *ngFor="let i of categorias" value="{{i.id}}">{{i.categoria}}</option>
                </select>
                 </ng-container>
            </div>
        </div> -->

        <br>
        <div class="contenedor">

            <p-table [value]="productos | filterProduct:busqueda:selectedOption" [tableStyle]="{ 'max-width': '90%' ,'padding':'10px'}" [styleClass]="'p-datatable-sm'">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Producto</th>
                        <th>Descripción</th>
                        <th>Categoría</th>
                        <th>Acción</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>{{ product.nombre }}</td>
                        <td>{{ product.descripcion }}</td>
                        <td>{{ product.categoria.categoria }}</td>
                        <td><a (click)="toDetail(product.id)">Ver</a></td>
                    </tr>
                </ng-template>
            </p-table>
<!-- 
            <table class="table table-borderless" style="border-radius: 20px;">
                <thead style="border-radius: 20px;">
                    <tr>
                        <th scope="col">Producto</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Categoría</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let j of productos | filterProduct:busqueda:selectedOption">
                        <td>{{j.nombre}}</td>
                        <td>{{j.descripcion}}</td>
                        <td>{{j.categoria.categoria}}</td>
                        <td><a (click)="toDetail(j.id)">Ver</a></td>
                    </tr>
                </tbody>
            </table> -->



        </div>

    </div>
</body>

</html>