@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body{
  font-family: montserrat;
}
nav{
  background: #FF8C22;;
  height: 65px;
  width: 100%;
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .titulo{
    font-size: 28px;
    color: white;
}

body {
  font-family: 'Roboto', sans-serif;
  margin-top: -22px;
}
.sidebar {
  position: fixed;
  right: -300px;
  width: 300px;
  height: 100%;
  background: #FF8C22;
  transition: all .5s ease;
  /* margin-top: 20px; */
}
.sidebar header {
  color: white;
  font-size: 35px;
  line-height: 65px;
  text-align: center;
  background: #FF8C22;;
  user-select: none;
  font-weight: bold;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  transition: .4s;
}
ul li:hover a{
  padding-right: 50px;
  cursor: pointer;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: fixed;
  background: #FF8C22;
  border-radius: 3px;
  cursor: pointer;
  z-index: 1111;
}
label #btn{
  right: 20px;
  top: 8px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}

label #cancel{
  z-index: 1111;
  right: -40px;
  top: 20px;
  font-size: 30px;
  color: white;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  right: 0;
}
#check:checked ~ label #btn{
  right: 80px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
   right: 18px;
}
#check:checked ~ section{
  margin-right: 0px;
}

#check:checked ~ section label.logo{
  position: relative;
  transition: all .8s;
}


section{
  transition: all .8s;
}

.contenido{
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

.contenedor{
    background: rgba(255, 255, 255, 1);
    border-radius: 20px;
    max-width: 50%;
}

form .form-control{
    border-radius: 18px;
}

form .boton{
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton button{
    width: 201px;
    height: 44px;
    padding: 0px;
    font-size: 22px;
    margin-top: 20px;
    background-color: rgba(255, 140, 34, 1);
    border-color: rgba(255, 140, 34, 1);
    border-radius: 10px;
    color: #fff;
}


@media (max-width: 767px) {
    .contenedor{
        max-width: 75%;
    }
}




label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
    
}

input,label {
    margin: 0.4rem 0;
    border-radius: 20px;
    max-width: 50%;

}
