@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body{
  font-family: montserrat;
}
nav{
  background: #FF8C22;;
  height: 65px;
  width: 100%;
  margin-top: 0px;
  position: fixed;
  top:0;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .titulo{
    font-size: 28px;
    color: white;
}

body {
  font-family: 'Roboto', sans-serif;
  margin-top: -22px;
}
.sidebar {
  position: fixed;
  right: -300px;
  width: 300px;
  height: 100%;
  background: #FF8C22;
  transition: all .5s ease;
  /* margin-top: 20px; */
}
.sidebar header {
  color: white;
  font-size: 35px;
  line-height: 65px;
  text-align: center;
  background: #FF8C22;;
  user-select: none;
  font-weight: bold;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  transition: .4s;
}
ul li:hover a{
  padding-right: 50px;
  cursor: pointer;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: fixed;
  background: #FF8C22;
  border-radius: 3px;
  cursor: pointer;
  z-index: 1111;
}
label #btn{
  right: 20px;
  top: 8px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}

label #cancel{
  z-index: 1111;
  right: -40px;
  top: 20px;
  font-size: 30px;
  color: white;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  right: 0;
}
#check:checked ~ label #btn{
  right: 80px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
   right: 18px;
}
#check:checked ~ section{
  margin-right: 0px;
}

#check:checked ~ section label.logo{
  position: relative;
  transition: all .8s;
}


section{
  transition: all .8s;
}

/*/////////////////////// aqui termina el sidbar ////////////////////////////////////*/

.contenido{
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 1);
    border-radius: 20px;
    width: 400px;
}

.msj{
    font-size: 15px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}

.datos{
    position: fixed;
    align-items: start;
    justify-content: left;
    left: 40px;
    top:120px;
}


.contenido input{
    width: 300px;
    box-shadow: none;
   
}

.button {
    backface-visibility: hidden;
  /* position: relative; */
  width: 44px;
  height: 44px;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: #fa1;
  border-radius: 100px;
  border: 0px solid #444;
  border-width: 0px 0px 0px 0px;
  padding: 10px 13px 10px 13px;
    color: #000;
  font-size: 16px;
  font-family: Helvetica Neue;
  font-weight: 900;
  font-style: normal;
  }


  .button button{
    background: transparent;
    border: none;
  }

  .button > button {
    color: #000;
  font-size: 10px;
  font-family: Helvetica Neue;
  font-weight: initial;
  font-style: normal;
  text-align: center;
  margin: 0px 0px 0px 0px;
  margin-left: -2px;
  margin-top: -4px;
  cursor: pointer;
  }

  .button > svg {
    color: #fff;
  font-size: 1em;
  border-radius: 0px;
  border: 0px solid transparent;
  border-width: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  position: static;
  cursor: pointer;
  }
  .button > .ld {
    font-size: initial
  }

.contenedor thead{
    background-color: rgba(255, 140, 34, 1);
    border-radius: 20px;
}

.contenedor table{
    border-radius: 20px;
}

.tabla1{
    margin-top: 50px;
}

div.boton{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: flex-end;
    bottom: 40px;
    right: 20px;
    z-index: -1111;
}

.boton button{
    width: 173px;
    height: 44px;
    padding: 0px;
    font-size: 22px;
    margin-top: 20px;
    background-color:rgba(180, 5, 37, 1);
    border-color: rgba(180, 5, 37, 1);
    border-radius: 10px;
    color: #fff;
}


@media (max-width: 767px) {
    .contenedor{
        max-width: 84%;
    }
    .datos{
        position:initial;
        margin-top: 60px;
        align-items: start;
        justify-content: left;
        margin-left: 20px
    }

    .tabla1{
        margin-top: 0px;
    }
    
  }
