<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

</head>

<body>
    <div>
        <input type="checkbox" id="check">
        <label for="check" style="z-index: 1px;">
            <i class="fas fa-bars" id="btn"></i>
            <i class="fas fa-times" id="cancel"></i>
        </label>
        <div class="sidebar">
            <header>Opciones</header>
            <ul>
                <li><a href="#"><i class="fas fa-calendar-week"></i>Eventos</a></li>
                <li><a href="#"><i class="far fa-question-circle"></i>About</a></li>
                <li><a href="#"><i class="far fa-envelope"></i>Contact</a></li>
            </ul>
        </div>
        <section>
            <nav>
                <label class="titulo">Detalles de Clientes</label>
            </nav>
            <br>
            <div class="contenido">
                <form class="d-flex">
                    <span>Cliente: Oniel E.</span>
                    <br>
                    <span>Usuario: OnielEs</span>
                </form>
            </div>
            <div class="contenido">
                <div class="contenedor">
                    <!-- <div class="col-md-12"> -->
                        <!-- <span><h2>Pedidos:</h2></span> -->
                        <table class="table table-borderless" style="border-radius: 20px;">
                            
                            <thead style="border-radius: 20px;">
                                <tr style="background-color: white;"> <!-- encabezado de tabla -->
                                    <td colspan="2">Pedidos</td> 
                                 </tr>
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Mark Ramires Panenca</td>
                                    <td><a href="">Ver</a></td>
                                </tr>
                                <tr>
                                    <td>Antonio</td>
                                    <td><a href="">Ver</a></td>
                                </tr>
                                <tr>
                                    <td>Panenca</td>
                                    <td><a href="">Ver</a></td>

                                </tr>
                            </tbody>
                        </table>


                    <!-- </div> -->

                </div>

            </div>
            <br>
            <div class="contenido">

                <div class="contenedor">
                    <div class="col-md-12">
                        <span>Pedidos:</span>
                        <table class="table table-borderless" style="border-radius: 20px;">

                            <thead style="border-radius: 20px;">
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Mark Ramires Panenca</td>
                                    <td><a href="">Ver</a></td>
                                </tr>
                                <tr>
                                    <td>Antonio</td>
                                    <td><a href="">Ver</a></td>
                                </tr>
                                <tr>
                                    <td>Panenca</td>
                                    <td><a href="">Ver</a></td>

                                </tr>
                            </tbody>
                        </table>


                    </div>

                </div>

            </div>



        </section>
    </div>



</body>

</html>