<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

</head>

<body>
    <div>
        <input type="checkbox" id="check">
        <label for="check" style="z-index: 1px;">
            <i class="fas fa-bars" id="btn"></i>
            <i class="fas fa-times" id="cancel"></i>
        </label>
        <div class="sidebar">
            <header>Opciones</header>
            <ul>
                <li><a href="#"><i class="fas fa-calendar-week"></i>Eventos</a></li>
                <li><a href="#"><i class="far fa-question-circle"></i>About</a></li>
                <li><a href="#"><i class="far fa-envelope"></i>Contact</a></li>
            </ul>
        </div>
        <section>
            <nav>
                <label class="titulo">Clientes</label>
            </nav>
            <br>
            <div class="contenido">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Buscar por nombre" aria-label="Search">
                    <div class="button">

                        <button><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                class="bi bi-plus-lg" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                            </svg></button>

                    </div>
                </form>
                <br>
                <div class="contenedor">

                    <table class="table table-borderless" style="border-radius: 20px;">
                        <thead style="border-radius: 20px;">
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mark Ramires Panenca</td>
                                <td><a href="">Ver</a></td>
                            </tr>
                            <tr>
                                <td>Antonio</td>
                                <td><a href="">Ver</a></td>
                            </tr>
                            <tr>
                                <td>Panenca</td>
                                <td><a href="">Ver</a></td>

                            </tr>
                        </tbody>
                    </table>



                </div>

            </div>

   

    </section>
     </div>



</body>

</html>